@font-face {
    font-family: inter;
    src: url(inter.ttf);
  }
  @font-face {
    font-family: dragon;
    src: url(dragon.ttf);
  }
body {
background-color: rgb(214, 214, 214); 
margin-bottom: -900px;
}
.logo {
    width: 83px;
    height: 39px;
    transition: width 0.5s ease;
    display: inline-block;
    transform: translate(325px, -42px);
}

.logo-background {
    width: 111px;
    height: 38px;
    background: #c82021;
    border-radius: 10px;
    transform: translate(425px, -44px);
    display: inline-block;
    
}

.bar-content {
    margin: -5px;
}

#bar {
    width: 695px; 
    height: 46px; 
    background: rgba(250, 250, 245, 0.65); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 20px; 
    border: 1px rgba(109.09, 103.47, 103.47, 0.65) solid;
    justify-content: space-between;
    margin: auto;
    padding-left: 30px;
    display: fixed;
    
}
#calender {
    height: 585px;
    width: 267px;
    border-radius: 15px;
    transform: translate(1090px,-1235px);
}

.navigation a {
    color: black; 
    font-size: 12px;
    font-weight: 525;
    text-decoration: none;
    font-family: inter;
    }

#projects {
    transform: translate(600px, 35px);
    display: inline-flex;
}
#photography {
    transform: translate(650px, 35px);
    display: inline-flex;
}

#resume {
    transform: translate(700px, 35px);
    display: inline-flex;
}

#contact {
    transform: translate(750px, 35px);
    display: inline-flex;
}

.img1 {
    height: 585px;
    border-radius: 15px;
    margin-left: 90px;
}

nav a:hover {
    text-decoration: underline;
    border-radius: 5px;
    color: #c82021;
    justify-content: space-between;
} /* Dropdown Button */
.dropbtn {
    color: black;
    font-size: 12px;
    font-family: inter;
    border: none;
    font-weight: 525;
    overflow: hidden;
    z-index: -1px;
  }

/* The container */
.dropdown {
display: inline-block;
overflow: hidden;
margin-left: 740px;
margin-bottom: -39px;
border-radius: 15px;
z-index: -1px;
color: rgba(250, 250, 245, 0.65);
}
/* Dropdown Content*/
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 15px;
z-index: 1;
}

/*Links*/
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-family: inter;
}
.dropdown-content a:hover {
text-decoration: underline #c82021;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;
border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
   

#box1 {
    background-color: rgba(254, 254, 251, 0.644);
    height: 425px;
    width: 312.5px;
    border-radius: 15px;
    transform: translate(750px, -589px);
} 
#box2 {
    background-color: rgba(254, 254, 251, 0.644);
    height: 140px;
    width: 312.5px;
    border-radius: 15px;
    transform: translate(750px, -570px);
} 
#box3 {
    background-color: rgba(254, 254, 251, 0.644);
    height: 140px;
    width: 630px;
    border-radius: 15px;
    transform: translate(430px, -545px);
} 
#playlist {
    width: 667px;
    height: 400px;
    transform: translate(51px, -500px);
}

 .page-header {
  height: 10vh;
  background-image: url("/path/to/image.jpg");
  
}

#name-header {
    font-family: dragon;
    font-size: 50px;
    font-weight: 500;
    margin-top: auto;
    padding-left: 65px;
    padding-top: 20px;
}
#name-content {
    font-family: inter;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 30px;
    align-content: center;
    transform: translate(0px, -40px);
    font-weight: 450;
    margin-top: 25px;
}
#name-content1 {
    font-family: inter;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 30px;
    align-content: center;
    transform: translate(0px, -40px);
    font-weight: 450;
    margin-top: 55px;
}

#goals-header{
    font-family: dragon;
    font-size: 50px;
    font-weight: 500;
    margin-top: auto;
    padding-left: 120px;
    padding-top: 15px;
}

.goals {
    font-family: inter;
    font-size: 15px;
    font-weight: 450;
    transform: translate(40px,-36px)
}
.page-header:after {
    animation: grain 8s steps(10) infinite;
    background-image: url("grain2.jpg");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
    z-index: -1;
  }
  
@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  } 
@media screen and (max-width: 480px)
{
    #bar {
        width: 333px;
        margin-left: 8px;
    }
    .logo-background {
        width: 75px;
        transform: translate(25px, -44px);
    }
    .logo {
        width: 60px;
        transform: translate(-46px, -42px);
    }
    #projects {
        transform: translate(115px, 50px);
        font-size: 8px;
    }
    #photography{
        transform: translate(124px, 50px);
        font-size: 8px;
    }
    #resume {
       transform: translate(130px, 50px);
        font-size: 8px;
    }
    .dropbtn {
        font-size: 8px;
    }
    .dropdown{
        margin-left: 280px;
        margin-bottom: -35px;
    }
    /* ^^  NAV BAR  ^^ */
    .img1 {
        height: 285px;
        margin-left: 38px;
        margin-top: -15px;
    }
    #box1 {
      transform: translate(37px, 10px);
      width: 305px;
      height: 450px;

    }
    #box2 {
     transform: translate(37px, 20px);
    width: 305px;
    }
    #calender {
        height: 585px;
        width: 305px;
        border-radius: 15px;
        transform: translate(37px,-40px);
    }
}
@media screen and (min-width: 481px) and (max-width: 576px) 
 {
    #bar {
        width: 480px;
        margin-left: 25px;
        height: 50px;
    }
    .logo-background {
        width: 100px;
        height: 43px;
        transform: translate(45px, -54.5px);
    }
    .logo {
        width: 85px;
        transform: translate(-51px, -49px);
        height: 50px;
    }
    #projects {
        transform: translate(170px, 37px);
        font-size: 12px;
    }
    #photography{
        transform: translate(195px, 37px);
        font-size: 12px;
    }
    #resume {
       transform: translate(220px, 37px);
        font-size: 12px;
    }
    .dropbtn {
        font-size: 12px;
    }
    .dropdown{
        margin-left: 235px;
        margin-bottom: -41px;
    }
        /* ^^  NAV BAR  ^^ */
        .img1 {
            height: 381px;
            margin-left: 72px;
            margin-top: -15px;
        }
        #box1 {
          transform: translate(72px, 15px);
          width: 406px;
          height: 430px;
    
        }
        #box2 {
         transform: translate(72px, 35px);
         width: 406px;
         height: 150px;

        }
        #calender {
            height: 585px;
            width: 406px;
            border-radius: 15px;
            transform: translate(72px,-5px);
        }
        #name-header {
            padding-left: 115px;
            padding-top: 40px;
        }
        #name-content {
            padding-left: 65px;
            padding-right: 45px;
            align-content: center;
            margin-top: 25px;
        }
        #name-content1 {
            padding-left: 65px;
            padding-right: 55px;
            align-content: center;
            margin-top: 75px;
        }
        
        #goals-header{
            margin-top: auto;
            padding-left: 170px;
            padding-top: 15px;
        }
        .goals {
            font-family: inter;
            font-size: 15px;
            font-weight: 450;
            transform: translate(65px,-36px)
        }
        
 }
 @media screen and (min-width: 577px) and (max-width: 768px) 
 {
    #bar {
        width: 670px;
        margin-left: 25px;
        height: 60px;
    }
    .logo-background {
        width: 120px;
        height: 53px;
        transform: translate(45px, -57.5px);
    }
    .logo {
        width: 105px;
        transform: translate(-70px, -56px);
        height: 50px;
    }
    #projects {
        transform: translate(210px, 43px);
        font-size: 17px;
    }
    #photography{
        transform: translate(235px, 43px);
        font-size: 17px;
    }
    #resume {
       transform: translate(260px, 43px);
        font-size: 17px;

    }
     .dropbtn {
        font-size: 17px;
     }
    .dropdown{
        margin-left: 280px;
        margin-bottom: -48px;
    }
        /* ^^  NAV BAR  ^^ */
        .img1 {
            height: 560px;
            margin-left: 72px;
            margin-top: -15px;
        }
        #box1 {
          transform: translate(72px, 195px);
          width: 290px;
          height: 430px;
    
        }
        #box2 {
         transform: translate(72px, 395px);
         width: 290px;
         height: 150px;

        }
        section {
            margin-top: -170px
        }
        #calender {
            height: 610px;
            width: 290px;
            border-radius: 15px;
            transform: translate(380px,-118px);
        }
        #name-header {
            padding-left: 60px;
            padding-top: 40px;
        }
        #name-content {
            padding-left: 45px;
            padding-right: 30px;
            align-content: center;
            margin-top: 25px;
            font-size: 13px;
        }
        #name-content1 {
            padding-left: 45px;
            padding-right: 30px;
            align-content: center;
            margin-top: 65px;
            font-size: 13px;
        }
        
        #goals-header{
            margin-top: auto;
            padding-left: 110px;
            padding-top: 15px;
        }
        .goals {
            font-family: inter;
            font-size: 13px;
            font-weight: 450;
            transform: translate(40px,-30px)
        }
        
 }
 @media screen and (min-width: 769px) and (max-width: 1024px) 
 {
    #bar {
        width: 730px;
        margin-left: 125px;
        height: 60px;
    }
    .logo-background {
        width: 120px;
        height: 53px;
        transform: translate(156px, -57.5px);
    }
    .logo {
        width: 105px;
        transform: translate(40px, -56px);
        height: 50px;
    }
    #projects {
        transform: translate(325px, 43px);
        font-size: 17px;
    }
    #photography{
        transform: translate(360px, 43px);
        font-size: 17px;
    }
    #resume {
       transform: translate(400px, 43px);
        font-size: 17px;

    }
     .dropbtn {
        font-size: 17px;

     }
    .dropdown{
        margin-left: 430px;
        margin-bottom: -48px;
    }
        /* ^^  NAV BAR  ^^ */
        .img1 {
            height: 620px;
            width: 760px;
            margin-left: 120px;
            margin-top: -15px;
        }
        #box1 {
          transform: translate(122px, 195px);
          width: 400px;
          height: 430px;
    
        }
        #box2 {
         transform: translate(122px, 395px);
         width: 400px;
         height: 150px;

        }
        section {
            margin-top: -170px
        }
        #calender {
            height: 610px;
            width: 325px;
            border-radius: 15px;
            transform: translate(555px,-118px);
        }
        #name-header {
            padding-left: 115px;
            padding-top: 40px;
        }
        #name-content {
            padding-left: 45px;
            padding-right: 30px;
            align-content: center;
            margin-top: 25px;
            font-size: 15px;
        }
        #name-content1 {
            padding-left: 45px;
            padding-right: 30px;
            align-content: center;
            margin-top: 65px;
            font-size: 15px;
        }
        
        #goals-header{
            margin-top: auto;
            padding-left: 170px;
            padding-top: 15px;
        }
        .goals {
            font-family: inter;
            font-size: 15px;
            font-weight: 450;
            transform: translate(75px,-30px)
        }
        
 }       

       


       

