@font-face {
  font-family: inter;
  src: url(inter.ttf);
}
@font-face {
  font-family: dragon;
  src: url(dragon.ttf);
}

body {
    background-color: rgb(214, 214, 214); 
    margin-bottom: -900px;
    overflow: auto;
   } 
   .logo {
   width: 83px;
    height: 39px;
    transition: width 0.5s ease;
    display: inline-block;
    transform: translate(325px, -42px);
   }
       
       .logo-background {
           width: 111px;
           height: 38px;
           background: #c82021;
           border-radius: 10px;
           transform: translate(425px, -44px);
           display: inline-block;
           
       }
       .bar-content {
           margin: -5px;
       }
       
       #bar {
           width: 695px; 
           height: 46px; 
           background: rgba(250, 250, 245, 0.65); 
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
           border-radius: 20px; 
           border: 1px rgba(109.09, 103.47, 103.47, 0.65) solid;
           justify-content: space-between;
           margin: auto;
           padding-left: 30px;
           display: fixed;
           
       }
       
       .navigation a {
           color: black; 
           font-size: 12px;
           font-weight: 525;
           text-decoration: none;
           font-family: inter;
           }
       
       #projects {
           transform: translate(600px, 35px);
           display: inline-flex;
       }
       #photography {
           transform: translate(650px, 35px);
           display: inline-flex;
       }
       
       #resume {
           transform: translate(700px, 35px);
           display: inline-flex;
           color: #c82021;
       }
       
       #contact {
           transform: translate(750px, 35px);
           display: inline-flex;
       }
       
       nav a:hover {
           text-decoration: underline;
           border-radius: 5px;
           color: #c82021;
           justify-content: space-between;
       } 
       #resume3 {
        border-radius: 25px;
        height: 2050px;
        transform: translate(150px, -795px);
        margin-bottom: -700px;
       }
       #bottom {
        margin-bottom: -900px;
       }
       #box1{
        color: #c82021;
        /* opacity: 100%; */
        height: 600px;
        width: 600px;
        border-radius: 15px;
        }
       /* Dropdown Button */
       .dropbtn {
        color: black;
        font-size: 12px;
        font-family: inter;
        border: none;
        font-weight: 525;
        overflow: hidden;
        z-index: -1px;
      }
  /* The container */
  .dropdown {
    display: inline-block;
    overflow: hidden;
    margin-left: 740px;
    margin-bottom: -39px;
    border-radius: 15px;
    z-index: -1px;
    color: rgba(250, 250, 245, 0.65);
  }
  /* Dropdown Content*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 1;
  }
  
  /*Links*/
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: inter;
  }
  .dropdown-content a:hover {
    text-decoration: underline #c82021;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;
  border-radius: 10px;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
       

  
       /* DONT DELETE PAGE WILL BREAK, IDK */
        .page-header {
         height: 100vh;
         background-image: url("/path/to/image.jpg");
         overflow: auto;
       }
       .page-header:after {
         animation: grain 8s steps(10) infinite;
         background-image: url("grain2.jpg");
         content: "";
         height: 300%;
         left: -50%;
         opacity: 0.3;
         position: fixed;
         top: -100%;
         width: 300%;
         z-index: -1;
         overflow: auto;
       }       
   @keyframes grain {
         0%, 100% { transform:translate(0, 0) }
         10% { transform:translate(-5%, -10%) }
         20% { transform:translate(-15%, 5%) }
         30% { transform:translate(7%, -25%) }
         40% { transform:translate(-5%, 25%) }
         50% { transform:translate(-15%, 10%) }
         60% { transform:translate(15%, 0%) }
         70% { transform:translate(0%, 15%) }
         80% { transform:translate(3%, 35%) }
         90% { transform:translate(-10%, 10%) }
       } 
@media screen and (max-width: 390px)
{
    #bar {
        width: 333px;
        margin-left: 8px;
    }
    .logo-background {
        width: 75px;
        transform: translate(25px, -44px);
    }
    .logo {
        width: 60px;
        transform: translate(-46px, -42px);
    }
    #projects {
        transform: translate(115px, 50px);
        font-size: 8px;
    }
    #photography{
        transform: translate(124px, 50px);
        font-size: 8px;
    }
    #resume {
       transform: translate(130px, 50px);
        font-size: 8px;
    }
    .dropbtn {
        font-size: 8px;
    }
    .dropdown{
        margin-left: 280px;
        margin-bottom: -35px;
    }
    /* ^^  NAV BAR  ^^ */
    #resume {
      height: 685px;
      transform: translate( 1px, -730px)
    }
}
@media screen and (max-width: 641px)
{
    #bar {
        width: 550px;
        margin-left: 25px;
        height: 50px;
    }
    .logo-background {
        width: 100px;
        height: 43px;
        transform: translate(45px, -54.5px);
    }
    .logo {
        width: 85px;
        transform: translate(-51px, -49px);
        height: 50px;
    }
    #projects {
        transform: translate(170px, 40px);
        font-size: 15px;
    }
    #photography{
        transform: translate(195px, 40px);
        font-size: 15px;
    }
    #resume {
       transform: translate(220px, 40px);
        font-size: 15px;
    }
    .dropbtn {
        font-size: 15px;
    }
    .dropdown{
        margin-left: 235px;
        margin-bottom: -44px;
    }
    /* ^^  NAV BAR  ^^ */
 
   
}
